ISOGEN-FILES ISOGEN.FLS
PIPELINE-REFERENCE OPS-INVENTED-PCF-001
UNITS-BORE INCH
UNITS-CO-ORDS MM
UNITS-BOLT-DIA INCH
UNITS-BOLT-LENGTH MM
UNITS-WEIGHT KG
STATUS FOR-REVIEW
PIPE
    COMPONENT-IDENTIFIER OPS-PIPE-AB
    END-POINT 0 0 0 NPS2
    END-POINT 1500 0 0 NPS2
    ITEM-CODE PIPE-INVENTED-NPS2
    MATERIAL INVENTED-CARBON-STEEL
    PIPELINE-REFERENCE OPS-INVENTED-PCF-001
    OUTSIDE-DIAMETER 60.3
    WALL-THICKNESS 3.91
PIPE
    COMPONENT-IDENTIFIER OPS-PIPE-BC
    END-POINT 1500 0 0 NPS2
    END-POINT 1500 750 0 NPS2
    ITEM-CODE PIPE-INVENTED-NPS2
    MATERIAL INVENTED-CARBON-STEEL
    PIPELINE-REFERENCE OPS-INVENTED-PCF-001
    OUTSIDE-DIAMETER 60.3
    WALL-THICKNESS 3.91
END-ISOGEN
